div#tooltip {
  color: white;
  position: absolute;
  text-align: center;
  width: 90px;
  height: fit-content;
  padding: 2px;
  font: 12px sans-serif;
  background-color:black;
  border-radius: 8px;
  pointer-events: none;
}

h1, p {
  text-align: center;
}

#legend {
display: block;
height: fit-content;
margin: 0 auto;
}